.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #FDEEDC;
}

h1 {
  margin: 30px;
  
  font-family: 'Permanent Marker', cursive;
  text-shadow: 7px 0 #4A403A;
  font-size: 5.5rem;
  color: #CC9B6D;
}

h2 {
  font-size: 3rem;
  color: #2B2B2B;
  font-family: 'Lobster', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}
